<div class="container">
    <h1 class="text-center">Formulario de Alumnos</h1>
    <button class="btn btn-success" (click)="guardarAlumno()">Agregar Alumno</button>
    <div class="container" style="color: rgb(253, 253, 253); background: #000; width: 700px;">
        <form #alumnosForm="ngForm">
            <fieldset>
                <legend class="text-center">Registrar Alumno</legend>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Ingresar nombre</label>
                    <input [(ngModel)]="alumno.nombre" #nombre="ngModel" name="nombre" type="text" id=""
                        class="form-control" placeholder=" Ejemplo: juan, marcos, julieta, etc..." required>
                </div>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <p class="text-danger">Nombre es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Ingresar apellido</label>
                    <input [(ngModel)]="alumno.apellido" name="apellido" type="text" id="" class="form-control"
                        placeholder=" Ejemplo: Sanchez, Messi, Fernandez, etc.." #apellido="ngModel" required>
                </div>
                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                    <p class="text-danger">Apellido es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Ingresar DNI</label>
                    <input [(ngModel)]="alumno.dni" #dni="ngModel" name="dni" type="number" id="" class="form-control"
                        placeholder="Ejemplo: 42682738" required>
                </div>
                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                    <p class="text-danger">DNI es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Ingresar numero de celular</label>
                    <input [(ngModel)]="alumno.nroCelular" #celular="ngModel" name="nroCelular" type="text" id=""
                        class="form-control" placeholder=" Ejemplo: 3881273823 " required>
                </div>
                <div *ngIf="celular.invalid && (celular.dirty || celular.touched)">
                    <p class="text-danger">Celular es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Ingresar domicilio</label>
                    <input [(ngModel)]="alumno.domicilio" #domicilio="ngModel" name="domicilio" type="text" id=""
                        class="form-control" placeholder="Ejemplo: Barrio ... , Calle ... , num ..." required>
                </div>
                <div *ngIf="domicilio.invalid && (domicilio.dirty || domicilio.touched)">
                    <p class="text-danger">Domicilio es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input [(ngModel)]="alumno.email" #email="ngModel" name="email" type="email" class="form-control"
                        id="exampleFormControlInput1" placeholder="name@example.com" required>
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <p class="text-danger">Email es requerido</p>
                </div>

                <!-- <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div> -->
                <button *ngIf="accion === 'new'" type="submit" class="btn btn-success "
                    style="background-color: chocolate;" (click)="crearAlumno()"
                    [disabled]="alumnosForm.invalid">Guardar Alumno</button>
                <button *ngIf="accion === 'update'" type="submit" class="btn btn-success "
                    style="background-color: chocolate;" (click)="confirmarModificacion()"
                    [disabled]="alumnosForm.invalid">Modificar Alumno</button>

                <div *ngIf="alumnosForm.invalid">
                    <p class="text-danger">Es necesario llenar todos los campos</p>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- <form>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo"[(ngModel)]="pelicula.titulo" name="titulo">
                </div>
                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" id="categoria"[(ngModel)]="pelicula.categoria" name="categoria">
                        <option *ngFor="let cat of categorias" [value]="cat">{{cat}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btnprimary" (click)="procesarForm()">Enviar</button>
                <button type="button" class="btn btn-primary">Limpiar</button>
            </form> -->
</div>

<br />

<!--<div [hidden]="!submitted">
        <h2>Datos enviados:</h2>
            <div class="row">
                <div>Titulo: {{ pelicula.titulo }}</div>
            </div>
            <div class="row">
                <div>Categoria: {{ pelicula.categoria }}</div>
            </div>
        <br>
        <button class="btn btnprimary" (click)="submitted=false">Continuar</button>
   </div> -->