<!-- <div class="container">
    <h1>Formulario de pelicula</h1>
        <form>
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" id="titulo"[(ngModel)]="pelicula.titulo" name="titulo">
            </div>
            <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria"[(ngModel)]="pelicula.categoria" name="categoria">
                    <option *ngFor="let cat of categorias" [value]="cat">{{cat}}</option>
                </select>
            </div>
            <button type="submit" class="btn btnprimary" (click)="procesarForm()">Enviar</button>
            <button type="button" class="btn btn-primary">Limpiar</button>
        </form>
   </div>

   <br />

   <div [hidden]="!submitted">
        <h2>Datos enviados:</h2>
            <div class="row">
                <div>Titulo: {{ pelicula.titulo }}</div>
            </div>
            <div class="row">
                <div>Categoria: {{ pelicula.categoria }}</div>
            </div>
        <br>
        <button class="btn btnprimary" (click)="submitted=false">Continuar</button>
   </div>
    -->
