<div class="container">
    <h1>Formulario de Pagos de Cuotas</h1>
    <div class="container" style="color: rgb(253, 253, 253); background: #000; width: 700px;">
        <form>
            <fieldset>
                <legend class="text-center">Ingrese Datos del pago</legend>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Ingrese DNI del Alumno">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="number" placeholder="Ingrese Monto">
                </div>
                <button type="submit" class="btn btn-success " style="background-color: chocolate;">Registrar Pago</button>
            </fieldset>
        </form>
    </div>

</div>